/* Colors | Base ============================================================ */
	$white: #fff;
	$black: #000;
	$silver: #ccc;
/* Colors | Theme =========================================================== */
	$seashell   : #F1F1F1;
	$shipGray   : #434149;
	$yellowSea  : #f4a603;
	$amber      : #ffc000;
	$lightSilver: #bdbdbd;
	$scarlet    : #ff1300;

$primaryTextColor: $shipGray;
